@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap");

html {
  scroll-behavior: smooth;
}

a {
  display: inline-block;
  text-decoration: none;
}

body {
  /* overflow-x: hidden; */
  font-family: "Jost", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

.truncate-2line {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

@layer utilities {
  .snap {
    scroll-snap-type: var(--scroll-snap-direction) var(--scroll-snap-constraint);
  }
  .snap-y {
    --scroll-snap-direction: y;
  }
  .snap-mandatory {
    --scroll-snap-constraint: mandatory;
  }
  .snap-start {
    scroll-snap-align: start;
  }
}

.scroll-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  scroll-margin-top: 4rem;
  min-height: 100vh;
  width: 100%;
}

.wrapper {
  box-sizing: border-box;
  line-height: 1.65;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(50%, -50%);
}

.wrapper p {
  margin: 0;
  font-size: 25px;
}

.wrapper p a {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  color: #ec407a;
}

.wrapper p a::after {
  content: "";
  background: rgba(236, 64, 122, 0.25);
  position: absolute;
  left: 12px;
  bottom: -6px;
  width: calc(100%);
  height: calc(100% - 8px);
  z-index: -1;
  transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
}

.wrapper p a:hover::after {
  left: 0;
  bottom: 2px;
}

.skill-rect {
  background-image: linear-gradient(
    to top,
    #dad4ec 0%,
    #dad4ec 1%,
    #f3e7e9 100%
  );
  border-radius: 30% 70% 70% 30% / 27% 30% 70% 73%;
}
.skill-rect:before {
  border-radius: 28% 72% 70% 30% / 68% 46% 54% 32%;
  background-image: linear-gradient(
    to top,
    #f3e7e9 0%,
    #e3eeff 99%,
    #e3eeff 100%
  );
}

.container-animation-text {
  font-size: clamp(1rem, 2.2vw, 5rem);
  font-family: Raleway;
  font-weight: 800;
  color: rgba(236, 64, 122, 0.25);
  letter-spacing: 2px;
  -webkit-text-stroke: 2px #000;
}

.typewriter {
  width: 21.5ch;
  white-space: nowrap;
  overflow: hidden;
  border-right: 4px solid #ddd;
  animation: cursor 1s step-start infinite, text 5s steps(18) alternate infinite;
}

@keyframes cursor {
  0%,
  100% {
    border-color: #ddd;
  }
}

@keyframes text {
  0% {
    width: 0;
  }
  100% {
    width: 650px;
  }
}

.skill-rect {
  .wrapper {
    transform: unset;
    position: static;
    transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .wrapper p a {
    color: #3b82f6 !important;
  }
}

.skill-rect .wrapper p a::after {
  content: "";
  background: #93c5fd73;
  position: absolute;
  left: 12px;
  bottom: -6px;
  width: calc(100%);
  height: calc(100% - 8px);
  z-index: -1;
  transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
}

.skill-rect .wrapper p a:hover::after {
  left: 0;
  bottom: 2px;
}

@media screen and (max-width: 800px) {
  .wrapper {
    /* width: 75vw; */
  }
  .scroll-page {
    min-height: 100%;
  }
}

@media screen and (max-width: 480px) {
  .typewriter {
    width: 360px;
    white-space: nowrap;
    overflow: hidden;
    border-right: none;
    animation: unset !important;
    font-size: 25px;
    margin: 20px 0px;
  }
}

.my-name {
  font-family: "Jost";
  letter-spacing: 1.5px;
}

.section.hero-started .title {
  font-family: "Jost" sans-serif;
  font-size: 90px;
  line-height: 1.2;
  color: #fff;
  font-weight: 700;
  margin: 15px 0 0 0;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-shadow: 2px 2px #000, -2px 2px #000, 2px -2px #000, -2px -2px #000,
    5px 5px 0px rgba(0, 0, 0, 0.2);
}

/* Toggle when click company name */
.content {
  grid-template-rows: 0fr;

  &.expanded {
    grid-template-rows: 1fr;
  }
}
.content::-webkit-scrollbar {
  display: none;
}

:root {
  --headingSize: 50px;
  --background-color: #fff;
  color: #000;
}

h1.heading {
  margin: 0;
  letter-spacing: -1px;
  font-size: var(--headingSize);
  color: #000;
}

.text-swift-container {
  width: 100%;
}

.text-swift-container span {
  display: inline-block;
  overflow: hidden;
  animation: 0.3s swift-up ease-in-out forwards;
}

.text-swift-container i {
  font-style: normal;
  position: relative;
  top: 70px;
  animation: 0.5s swift-up ease-in-out forwards;
}

@keyframes swift-up {
  to {
    top: 0;
  }
}

@media screen and (max-width: 1000px) {
  .text-swift-container {
    width: auto;
    margin: 0 10%;
  }

  :root {
    --headingSize: 35px;
  }
}
