@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --primary-color: #1c3562;
  --secondary-color: #66768e;
}

html {
  scroll-behavior: smooth;
}
h2 {
  width: 100%;
  /*Adds margin to the top of the viewport*/
  line-height: 1.5555556;
  scroll-margin-top: 3em;
  scroll-snap-align: start;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to right bottom,
    #24344d,
    #1c3664,
    #1e357a,
    #32308c,
    #4f249a
  );
  background-repeat: no-repeat;
}

.oanhhtk-container {
  min-height: 100vh;
  background-image: linear-gradient(
    to right bottom,
    #24344d,
    #1c3664,
    #1e357a,
    #32308c,
    #4f249a
  );
  background-repeat: no-repeat;
  height: 100%;
}

.oanhhtk-app {
  padding-top: 90px;
  margin-top: 90px;
}
